Kata Game of Life
1. Cualquier célula viva con menos de dos vecinos vivos muere, como por falta de población.
2. Cualquier célula viva con dos o tres vecinos vivos vive para la próxima generación.
3. Cualquier célula viva con más de tres vecinos vivos muere, como por superpoblación.
5. Cualquier célula muerta con exactamente tres vecinos vivos se convierte en una célula viva, como por reproducción.

Casos de prueba:
1. should correctly return the initial cell configuration.
INPUT: N/A
RETURNS: 
[0, 0, 1, 0],
[0, 0, 0, 0],
[0, 1, 0, 0],
[0, 0, 1, 0],

2. a cell alive should die as if by underpopulation if is in the middle and it have fewer than two live neighbours.
INPUT: 
[0, 0, 0],
[0, 1, 0],
[0, 0, 0],

RETURNS: 
[0, 0, 0],
[0, 0, 0],
[0, 0, 0],


3. a cell alive should live on to the next generation if is in the top-middle and it have two live neighbours.
INPUT: 
[1, 1, 1],
[0, 0, 0],


RETURNS: 
[0, 1, 0],
[0, 0, 0],


4. a cell alive should die if is in the middle and it have more than three neighbours.
INPUT: 
[1, 1, 1],
[0, 0, 0],


RETURNS: 
[0, 1, 0],
[0, 0, 0],


5. any dead cell should becomes an alive cell if is in the middle and it have three neighbours.
INPUT: 
[1, 0, 1],
[0, 0, 0],
[0, 0, 1],


RETURNS: 
[0, 0, 0],
[0, 1, 0],
[0, 0, 0],


