Kata Game of Life
1. Cualquier célula viva con menos de dos vecinos vivos muere, como por falta de población.
2. Cualquier célula viva con dos o tres vecinos vivos vive para la próxima generación.
3. Cualquier célula viva con más de tres vecinos vivos muere, como por superpoblación.
4. Cualquier célula muerta con exactamente tres vecinos vivos se convierte en una célula viva, como por reproducción.

Casos de prueba:
1. Should return correctly output the initial cell configuration
INPUT: N/A
SHOULD RETURN: 
[0, 0, 0, 1, 0], 
[0, 0, 0, 1, 0], 
[1, 0, 0, 0, 0], 
[0, 0, 0, 0, 0], 
[0, 0, 1, 1, 0], 


2. When theres one cell alive in the middle, and fewer than two live neighbours, it dies as if by underpopulation
INPUT: 
[0, 0, 0],
[0, 1, 0],
[0, 0, 0],

SHOULD RETURN: 
[0, 0, 0],
[0, 0, 0],
[0, 0, 0],

3. When theres one cell alive in the top middle, and two live neighbours, it lives to the next generation
INPUT: 
[1, 1, 1],
[0, 0, 0],


SHOULD RETURN: 
[0, 1, 0],
[0, 0, 0],

4. When there is one cell alive in the middle, and four live neighbours, it dies as if by overpopulation
INPUT: 
[1, 0, 1],
[1, 1, 1],
[0, 0, 0],


SHOULD RETURN: 
[1, 0, 1],
[1, 0, 1],
[0, 0, 0],


5. When there is one dead cell in the middle, and three live neighbours, it becomes live, as if by reproduction
INPUT: 
[1, 0, 1],
[0, 0, 0],
[0, 0, 1],


SHOULD RETURN: 
[0, 0, 0],
[0, 1, 0],
[0, 0, 0],


       